# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.venv/
.env/

# =========================
# Editor / OS
# =========================
.vscode/
.DS_Store

# =========================
# Dataset (escludi tutto)
# =========================
*.csv
*.pkl
*.parquet

# =========================
# Dataset da VERSIONARE
# =========================
!RecipeNLG_clean.csv
!Dataset_testuale.csv


2.Addestramento/Mistral/mistral-recipe-json-model/
2.Addestramento/Phi3/phi3-recipe-json-model/
2.Addestramento/Qwen2.5/qwen-recipe-json-model/
1.Inferenza/ricette errate nel conteggio.txt

