# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.venv/
.env/

# =========================
# Editor / OS
# =========================
.vscode/
.DS_Store

# =========================
# Dataset (escludi tutto)
# =========================
*.csv
*.pkl
*.parquet

# =========================
# Dataset da VERSIONARE
# =========================

2.Addestramento/Mistral/mistral-recipe-json-model/
2.Addestramento/Phi3/phi3-recipe-json-model/
2.Addestramento/Qwen2.5/qwen-recipe-json-model/

C:\Users\tomas\Desktop\universita\Magistrale\Secondo Anno\Primo Semestre\Deep Learning\Progetto\0.Dataset\clean_dataset.py

